.main_container {
  padding: 10px;
}

h1 {
  text-align: right;
}

p {
  font-family: "Beth Ellen", "sans-serif";
  font-size: x-large;
  color: #f8dde0;
  padding: 30px;
  margin: 0px;
  text-align: left;
}

p:hover {
  background-color: rgb(127 78 78);
}

#show_hover {
  color:rgb(242, 233, 233);
  opacity: 0;
}

@media screen and (max-width: 600px) {
  h1, p {
    font-size: small;
  }
}